{% extends "base.html" %}
{% load static %}

{% block content %}
<ul class="list-articles">
    {% for p in posts%}
    <li><div class="article-panel">
    <p class='first'>Цена: {{p.payment}} | Категория: {{p.cat.title}} </p>
    <p class='last'>Дата: {{p.time_create|date:"d-m-Y H:i:s"}}</p>
    </div>
    {%if p.photo%}
        <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
    {% endif %}
        <p>{{p.title}}</p>
        {% autoescape off %}
        <p>{{p.description|linebreaks|truncatewords:20}}</p>
        {% endautoescape %}
        <div class="clear"></div>
        <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
        <p><a href="{% url 'edit' p.slug %}">Изменить обьявление</a></p>
        </li>

    </li>
    {% endfor %}
</ul>
{% endblock content %}

{% block navigation %}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
		{% if page_obj.has_previous %}
		<li class="page-num">
			<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
		</li>
		{% endif %}

        {% for p in paginator.page_range %}
		{% if page_obj.number == p %}
		<li class="page-num page-num-selected">{{ p }}</li>
		{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
		{% endif %}
        {% endfor %}

		{% if page_obj.has_next %}
		<li class="page-num">
			<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
		</li>
		{% endif %}

    </ul>
</nav>
{% endif %}
{% endblock %}