{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'rent_house/css/styles.css' %}">
</head>
<body>

<div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebar col-md-3">
        <h2>Меню сайта</h2>
        <ul class="list-unstyled">
            <li><a href={% url 'home' %}>Главная</a></li>
            <li><a href={% url 'apart' %}>Добавить обьявление</a></li>
            <li><a href={% url 'about' %}>О нас</a></li>
            <li><a href={% url 'contact' %}>Контакты</a></li>
            <li><a href={% url 'login' %}>Вход</a></li>
            <li><a href={% url 'register' %}>Регистрация</a></li>
            <li><a href={% url 'profile' %}>Профиль</a></li>
        </ul>
    </div>

    <!-- Контент -->
    <div class="content col-md-9">
        {% block content %}
        {% endblock content %}

        {% block navigation %}
        {% endblock %}

        </td></tr></table>
        </td></tr>
        <!-- Footer -->
        <tr><td valign=top>
            <div id="footer">
                <p align=center>&copy; 2025 Аренда квартир. Все права защищены.</p>
            </div>
        </td></tr></table>
        <!-- Конец footer'а и страницы -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>